# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
.devcontainer/.vscode/

# Docker
*.log
*.pid

# OS files
.DS_Store
Thumbs.db

# Python cache folders
*.egg-info/
dist/
build/

# Uploads and extracted project files
uploads/
extracted/